/*!**********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./src/components/Castings/Castings.css ***!
  \**********************************************************************************************************************************************************************************************************************************************************************************/
.cast-card {
  position: relative;
  overflow: hidden;
  transform-style: preserve-3d;
  perspective: 1000px;
  background-position: center;
  transition: transform 0.2s ease-in-out;
}

.cast-card img {
  transition: transform 0.2s ease-in-out;
}

.cast-card:hover {
  transform: rotateX(10deg) rotateY(10deg);
}

.cast-card:hover img {
  transform: scale(1.1);
}

/*!************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./src/components/CardGroup/CardDetails/TVshowCard/TVshowCard.css ***!
  \************************************************************************************************************************************************************************************************************************************************************************************************************/
.rating-bar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  transform: translateY(-100%);
  transition: transform 0.35s ease-in-out;
}

.tvShow-info {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  transform: translateY(100%);
  transition: transform 0.35s ease-in-out;
}

.tv-card {
  position: relative;
  overflow: hidden;
  transform-style: preserve-3d;
  perspective: 1000px;
  background-position: center;
}

.tv-card:hover .rating-bar,
.tv-card:hover .tvShow-info {
  transform: translateY(0);
}

.tv-card:hover img {
  transform: scale(1.1);
  transition: transform 0.5s ease-in-out;
}

.tv-card:hover {
  transform: rotateX(10deg) rotateY(10deg);
  transition: transform 0.5s ease-in-out;
}

